html
{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

body {

    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    background-color: rgb(138, 138, 138);
    max-height: 100vh;
    overflow-x: hidden;

}

.main_container .nav1 {
    display: flex;
    position: sticky;
    padding: 14px 75px 10px 75px;
    /* margin: 0 50px 0 50px; */
    justify-content: space-between;
}



.main_container .nav1 .left_nav {
    float: right;
    display: flex;
    word-spacing: 5px;
    text-transform: uppercase;
    font-size: 15px;
    /* border-bottom: 3px solid rgb(255, 255, 255); */
    width: 290px;
    /* background: linear-gradient(to right, #ff0075 0%, #001092 100%); */
    /* background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */
    color: white;
    font-weight: bolder;
}

.main_container .nav1 .right {
    float: left;
    display: flex;
    text-transform: uppercase;
    font-size: 15px;
    /* border-bottom: 3px solid rgb(255, 255, 255); */
    width: 498px;
}


.nav1 .right a {
    text-decoration: none;
    display: flex;
    color: #292621;
    font-size: 13px;
    margin-left: 30px;
    color: white;
    font-weight: bolder;

}

.nav1 li {
    display: inline-block;
    padding-right: 20px;
    border-right: 1px solid #e0e2e6;


}

.nav1 
{
    background: rgb(0, 0, 0)
    
}

.main_container .nav1 a:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
    justify-content: space-between;
    color: rgb(255, 255, 255);
}

.header .container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: space-between;
    padding: 30px 25px 10px 25px;
    margin: 0 50px 0 50px;
}


.container .srch_container {
    /* line-height: 2; */
    display: flex;
    width: 450px;
    flex-direction: column;
    margin-top: 25vh;
    /* justify-content: flex-start; */
    margin-left: 10vh;
    margin-right: 17rem;
    padding: 10px 10px 20px 10px;
}

.search {
    display: flex;
    /* background-color: green; */
}


.srch_container .content_text {
    line-height: 3;
    text-align: center;
    font-size: 23px;
    font-weight: bolder;
}

.srch_container .content_text p {
    text-shadow: 2px 2px 2px rgba(72, 69, 69, 0.445);
    line-height: 2;
}


.search>input[type=text] {
    font-size: 20px;
    width: 100%;
    border: 1.5px solid #EEEFF0;
    background: transparent;
    outline: none;
    border: none;
    color: white;
    padding: 10px;
    border-bottom: 2px solid white;
    letter-spacing: 1.5px;
}

::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1;
}

:-ms-input-placeholder {
    color: rgb(255, 255, 255);
}

::-ms-input-placeholder {
    color: rgb(255, 255, 255);
}

*/ .search .btn_search {
    border: none;
    background: transparent;
    outline: none;
}

.container .side_container .box_container {
    background-color: #ffffff40;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto;
    /* grid-template-rows: 3fr 2fr; */
    flex-direction: column;
    margin-top: 13vh;
    justify-content: flex-start;
    margin-right: 5vh;
    padding: 10px 10px 20px 10px;
    box-shadow: 0 4px 5px 3px #00000047;

}

.side_container .box_container .grid-item {
    padding: 20px;
    /* border-radius: 20px; */
    /* border: 2px solid red; */

}

.side_container .box_container .grid-item1,
.grid-item3 {
    border-right: 3px solid rgb(255 255 255 / 66%);
}

.side_container .box_container .grid-item4,
.grid-item3 {
    border-top: 3px solid rgb(255 255 255 / 66%);
}

.side_container .box_container img {

    border-radius: 5px;
    width: 175px;

    /* cursor: pointer; */
    transition: 0.3s;
    filter: blur(1px);

}

.side_container .box_container a {
    text-decoration: none;

}


/* .side_container .box_container p{
    position: relative;
    top: 40px;
    left: 50px;
    background-image:linear-gradient(90deg, red, blue);
    -webkit-background-clip: text;
    color: transparent;
	-webkit-text-fill-color: transparent;
} */
.side_container .box_container .medical,
.eng,
.law,
.bsc {
    position: relative;
}



.side_container .box_container .medi1 {
    /* position: absolute;
    top: 50px;
    left: 25px; */
    font-size: 18px;
    border-bottom: 2px solid red;
    font-weight: bold;
    background: linear-gradient(to right, #ff0000 0%, #2000ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
}

/* .side_container .box_container .medi1:hover {
    font-size: 23px;
    border-bottom: 2px solid red;
    transition: .3s;
    text-decoration: none;
    display: block;
    outline: none;
    border-radius: 20px;
    padding: 10px 5px;
    background: linear-gradient(to right, #FF0001 0%, #2000ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 500;
} */

.side_container .box_container .eng1 {
    /* position: absolute;
    top: 51px;
    left: 21px; */
    border-bottom: 2px solid red;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(to right, #ff0000 0%, #2000ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
}

/* .side_container .box_container .eng1:hover {
    font-size: 19px;
    border-bottom: 2px solid red;
    transition: .3s;
    text-decoration: none;
    display: block;
    outline: none;
    border-radius: 20px;
    padding: 10px 5px;
    background: linear-gradient(to right, #FF0001 0%, #2000ff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 500;
} */

.side_container .box_container .law1 {
    /* position: absolute;
    top: 85px;
    left: 45px; */
    border-bottom: 2px solid red;
    background: linear-gradient(to right, #ff0000 0%, #2000ff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

/* .side_container .box_container .law1 {
    font-size: 23px;
    border-bottom: 2px solid red;
    transition: .3s;
    text-decoration: none;
    display: block;
    outline: none;
    border-radius: 15px;
    padding: 5px 5px;
    background: linear-gradient(to right, #FF0001 0%, #2000ff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 5
} */

.side_container .box_container .bsc1 {
    /* position: absolute;
    top: 85px;
    left: 45px; */
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid red;
    background: linear-gradient(to right, #ff0000 0%, #2000ff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

/* .side_container .box_container .bsc1:hover {
    font-size: 23px;
    border-bottom: 2px solid red;
    transition: .3s;
    text-decoration: none;
    display: block;
    outline: none;
    border-radius: 20px;
    padding: 10px 5px;
    background: linear-gradient(to right, #FF0001 0%, #2000ff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 500;
} */




.side_container .box_container img:hover {
     width: 210px; 
     height: auto; 
    transition: 0.5s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}


.main_vd {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: black;
    /* opacity: .6; */
    z-index: -1;
    filter: blur(7px);
}

@media (min-aspect-ration:16/9) {
    .main_vd {
        width: 100%;
        height: auto;
    }
}

@media (min-aspect-ration:16/9) {
    .main_vd {
        width: auto;
        height: 100%;
    }
}

.container .srch_container .content_text {
    text-transform: uppercase;
    background: linear-gradient(to right, #ff0075 0%, #001092 100%);
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, red, blue);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.foot 
{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 30rem;
    justify-content: space-between;
    margin: 11rem 0px;
    padding: 5rem 8rem 2rem 8rem;
    /* max-width: 1340px; */
    background: #000000;
}

.foot .right_side .links

{
    line-height: 2.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 6rem;
}

.foot .right_side .links .link
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.foot .right_side .links .link h4{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    
}

.foot .right_side .links .link li
{
    list-style-type: none;
}

.foot .right_side .links .link a{
    background-image: linear-gradient(90deg, #00ffec, #31ff00);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.foot .right_side .links .link a:hover
{
    background-image: linear-gradient(90deg, #deff00, #ffb500);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    /* border-bottom: 2px solid red; */

}

.foot .brand_side
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.foot .brand_side .content
{
    color: white;
    font-size: 35px;
    width: 16rem;
    text-shadow: 3px 3px 7px rgb(0 255 20);
}



.foot .brand_side .copy
{
    color: white;
    margin-top: 5rem;
}


.foot .brand_side .copy a
{
    margin-left: 3px;
    background-image: linear-gradient(90deg, #00ffec, #31ff00);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.foot .brand_side .copy a:hover
{
    background-image: linear-gradient(90deg, #deff00, #ffb500);
    /* border-bottom: 1px solid royalblue; */
}

.foot .brand_side .main_icons .fa-brands
{
    font-size: 20px;
    margin-left: 3px;
    background-image: linear-gradient(90deg, #00ffec, #31ff00);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    margin: 0px 17px 0px 0px;
}

.foot .brand_side .main_icons .fa-brands:hover
{
    background-image: linear-gradient(90deg, #deff00, #ffb500);
    cursor: pointer;

}

@media screen and (max-width:767px) {
    .main_vd {
        height: 100%;
        width: auto;
    }

    .main_container .nav1 .left_nav {
        font-size: 12px;
        margin: 20px;

    }

    .nav1 .right li {
        display: block;
        margin: 25px;

    }



    .main_container .nav1 {
        display: flex;
        flex-wrap: wrap;

    }
}

@media screen and (max-width:320px) {

    .main_vd {
        height: 100%;
        width: auto;
    }

    .main_container .nav1 .left_nav {
        font-size: 7px;
        margin: 20px;
    }

    .nav1 .right li {
        display: block;
        margin: 15px;

    }

    .main_container .nav1 {
        display: flex;
        flex-wrap: wrap;

    }

    .header .container {
        padding: 0px 0px 0px 0px;
    }

    .srch_container .content_text {
        font-size: 12px;
    }

    .search>input[type=text] {
        font-size: 12px;
        width: 100%;
        border: 1.5px solid #EEEFF0;
        background: transparent;
        outline: none;
        border: none;
        color: white;
        padding: 0px;
        border-bottom: 1px solid white;
        letter-spacing: 1.5px;
    }

    .container .side_container .box_container {
        background-color: #ffffff40;
        border-radius: 10px;
        display: flex;
        grid-template-columns: auto auto;
        flex-direction: column;
        margin-top: 13vh;
        justify-content: flex-start;
        margin-right: 5vh;
        padding: 10px 10px 20px 10px;
        box-shadow: 0 4px 5px 3px #00000047;

    }

    .side_container .box_container .grid-item1,
    .grid-item3 {
        border-right: none;
    }

    .side_container .box_container .grid-item4,
    .grid-item3 {
        border-top: none;
    }

}

@media screen and (max-width:480px)
{
    .container .side_container .box_container {
    background-color: #ffffff40;
    border-radius: 10px;
    display: inline-block;
        /* flex-wrap:wrap; */
    grid-template-columns: auto auto;
    flex-direction: column;
    margin-top: 10vh;
    justify-content: flex-start;
    margin-right: 0vh;
    padding: 10px 10px 20px 10px;
    box-shadow: 0 4px 5px 3px #00000047;

    }

    .main_vd
    {
        height: 100%;
        width: auto;   
    }

    .main_container .nav1
    {
        padding: 14px 25px 10px 25px;
    }

    .main_container .nav1 .left_nav {
        font-size: 15px;
        display: block;
        text-align: center;
        margin: 20px;
        width: 100%;
        margin: auto;
    }

    .nav1 .right a {
        text-decoration: none;
        display: block;
        color: #292621;
        font-size: 13px;
        margin-left: 0px;
        text-align: center;
        color: white;
        font-weight: bolder;
    }

    .main_container .nav1 .right
    {
        display: block;
    }

    .nav1 li
    {
        padding-right:0px;
        border-right:none;
    }

    .header .container
    {
        /* padding: 14px 25px 10px 25px;  */
    width: 100%;
    margin: auto;
    display: block;
    }

    .container .srch_container
    {
        margin-top: 10vh;
        /* margin-left: 0vh; */
        width: 72%;
    }

    .srch_container .content_text
    {
        font-size: 15px;
    }

    .side_container .box_container .grid-item1, .grid-item3 {
        border-right:none;
    }

    .side_container .box_container .grid-item2
    {
        border-top: 3px solid rgb(255 255 255 / 66%);
    }

    .side_container
    {
        display: flex;
        justify-content: center;
    }

    .foot
    {
        top: 60rem;
        gap: 2rem;
        padding: 5rem 3rem 2rem 4rem;
    }

    .foot .brand_side .content
    {
        font-size: 30px;
    }

    .foot .brand_side .main_icons .fa-brands
    {
        font-size: 15px;
    }
    .main_icons
    {
        margin-top: -20px;
    }
    .foot .brand_side .copy
    {
        display: none;
    }

    .foot .right_side .links
    {
        gap: 4rem;
    }
}


